body{
    /* background-image: linear-gradient(#516b8b, #056b3b);
    background: #6da6be;
    background: -webkit-linear-gradient(to left, #6da6be, #4b859e, #6da6be);
    background: linear-gradient(to left, #6da6be, #4b859e, #6da6be); 
     */
     font-family: Meiryou ui;
     /* background-image:linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%); */
}
.login-form {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%,-50%);
    border: 3px solid #1890ff;
    padding:38px 50px 0px 50px;
    border-radius: 5px;
    /* box-shadow: 10px 10px #004e8f;
    background: white;  */
}

.loginTitile{
    text-align: center;
    font-size:20px;
    
}


.ant-col-rtl {
    float: left;
}
.login-form-button {
    width: 100%;
}

/* 找回密码 */
.login-form-forgot {
    float: left;
    color: lightcoral;
}

.login-form-forgot:hover{
    color: blue;
    cursor:pointer;
}
.login-form-forgot:active{
    color: red;
    cursor:pointer;
}

/* 注册 */
.register{
    float: right;
    color: yellowgreen;
}

.register:hover{
    color: purple;
    cursor:pointer;
}

.register:active{
    color: red;
    cursor:pointer;
}